.menu-button {
    position:relative; 
    height: 40px;   
    width:40px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;

} 
.menu-button:hover {
    background-color: #DDD;
}
.menu-button mat-icon {
    vertical-align: middle;
}

a {
   text-decoration: none;
   color:white; 
   font-size: 20px;
}