<mat-list role="list">
    <mat-list-item role="listitem"><p>"{{userName1}}" {{name1}}</p></mat-list-item>
    
    <app-todo-list-item [userTodos]="user1Todos"></app-todo-list-item>
    <mat-list-item role="listitem"><p>"{{userName2}}" {{name2}}</p></mat-list-item>

    <app-todo-list-item [userTodos]="user2Todos"></app-todo-list-item>
    <mat-list-item role="listitem"><p>"{{userName3}}" {{name3}}</p></mat-list-item>

    <app-todo-list-item [userTodos]="user3Todos"></app-todo-list-item>
  </mat-list>